@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.BroadcastKit.Localization
@model Lazy.Abp.BroadcastKit.Web.Pages.BroadcastKit.IndexModel
@inject IStringLocalizer<BroadcastKitResource> L
@{
}
<h1>BroadcastKit</h1>
<p>@L["SamplePageMessage"]</p>
